$header-bg: #F9F9F9;
$heading: #000000;
$sub-heading: #BBBBBB;

$input-border: #34495E;

$button-primary: #9B59B6;
$button-secondary: #34495E;
$button-shadow-primary: #8D4CA7;
$button-shadow-secondary: #263849;
$button-text: #FFFFFF;
$button-letters-text: #F9F9F9;

$footer-bg: #F9F9F9;
$footer-credits: #888888;

$error: #C0392B;