$header-bg: #F9F9F9;
$heading: #000000;
$subheading: #BBBBBB;

$card-name: #444444;
$card-caption: #BBBBBB;
$card-cover-hover: #000000;

$project-description: #888888;
$navigate-back-link-color: #000000;

$heading: #444444;
$content: #888888;