.flex-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;

	.col {
		flex-basis: 32%;

		@media (max-width: $tablet) {
			flex-basis: 49%;
		}

		@media (max-width: $mobile) {
			flex-basis: 100%;
		}
	}
}