.header {
	margin: 0 auto;
	max-width: 100%;
	padding: 5rem 0;
	background-color: $header-bg;

	&_heading {
		font-size: 4.8rem;
		color: $heading;
	}

	&_sub-heading {
		margin: 1rem 0;
		font-size: 1.6rem;
		color: $sub-heading;
	}
}